<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <h2>Coin Listing</h2>
                <p class="card-text">
2FA test
<% include ../partials/2FA.php %>


<br>
</p>   

            
              </div>
            </div>
        </div>
      </div>
 </div><br><br><br><br>
    </div> <!-- /container -->

    <% include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
